<div id="feed" class="content-padded">

	<div class="card">
		<img src="/images/tim001.jpg" alt="RAWR!">
		<h4>RAWR!</h4>
	</div>

	<div class="card">
		<img src="/images/tim002.jpg" alt="Creepin'">
		<h4>Creepin'</h4>
	</div>

	<div class="card">
		<img src="/images/tim003.jpg" alt="Oh hai!">
		<h4>Oh hai!</h4>
	</div>

	<div class="card">
		<img src="/images/tim004.jpg" alt="Say AHHHHHH!">
		<h4>Say AHHHHHH!</h4>
	</div>

	<div class="card">
		<img src="/images/tim005.jpg" alt="Photoshop Win.">
		<h4>Photoshop Win.</h4>
	</div>

	<div class="card">
		<img src="/images/tim006.jpg" alt="Menacing.">
		<h4>Menacing.</h4>
	</div>

	<div class="card">
		<img src="/images/tim007.jpg" alt="Dat tongue doe...">
		<h4>Dat tongue doe...</h4>
	</div>

	<div class="card">
		<img src="/images/tim008.jpg" alt="Regal.">
		<h4>Regal.</h4>
	</div>

	<div class="card">
		<img src="/images/tim009.jpg" alt="Sleepy.">
		<h4>Sleepy.</h4>
	</div>

	<div class="card">
		<img src="/images/tim010.jpg" alt="Dem eyes doe...">
		<h4>Dem eyes doe...</h4>
	</div>

	<div class="card">
		<img src="/images/tim011.jpg" alt="That's my string.">
		<h4>That's my string.</h4>
	</div>

	<div class="card">
		<img src="/images/tim012.jpg" alt="I can't even.">
		<h4>I can't even.</h4>
	</div>

	<div class="card">
		<img src="/images/tim013.jpg" alt="Introspective.">
		<h4>Introspective.</h4>
	</div>

	<div class="card">
		<img src="/images/tim014.jpg" alt="Christmas 2014">
		<h4>Christmas 2014</h4>
	</div>

	<div class="card">
		<img src="/images/tim015.jpg" alt="Rage face.">
		<h4>Rage face.</h4>
	</div>
</div>