<div id="thumbnails" class="content-padded">

	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim001.jpg" alt="RAWR!">
		</div>
		<div class="col">
			<img class="card" src="/images/tim002.jpg" alt="Creepin'">
		</div>
		<div class="col">
			<img class="card" src="/images/tim003.jpg" alt="Oh hai!">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim004.jpg" alt="Say AHHHHHH!">
		</div>
		<div class="col">
			<img class="card" src="/images/tim005.jpg" alt="Photoshop Win.">
		</div>
		<div class="col">
			<img class="card" src="/images/tim006.jpg" alt="Menacing.">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim007.jpg" alt="Dat tongue doe...">
		</div>
		<div class="col">
			<img class="card" src="/images/tim008.jpg" alt="Regal.">
		</div>
		<div class="col">
			<img class="card" src="/images/tim009.jpg" alt="Sleepy.">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim010.jpg" alt="Dem eyes doe...">
		</div>
		<div class="col">
			<img class="card" src="/images/tim011.jpg" alt="That's my string.">
		</div>
		<div class="col">
			<img class="card" src="/images/tim012.jpg" alt="I can't even.">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim013.jpg" alt="Introspective.">
		</div>
		<div class="col">
			<img class="card" src="/images/tim014.jpg" alt="Christmas 2014">
		</div>
		<div class="col">
			<img class="card" src="/images/tim015.jpg" alt="Rage face.">
		</div>
	</div>

</div>

<script>
	var singleView = new steroids.views.WebView({
		location: 	"/views/application/single.html",
		id: 		"singleView"
	});

	singleView.preload();
</script>